{% extends 'base.html' %}
{% block title %}Pricing{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold">Ethiopian Electrical Utility Pricing</h2>
<p class="text-gray-600 mt-2">Latest pricing based on EEU tariff system.</p>

<table class="w-full border mt-4">
    <thead>
        <tr class="bg-gray-300">
            <th class="p-2">Consumption Range (kWh)</th>
            <th class="p-2">Price per kWh (ETB)</th>
        </tr>
    </thead>
    <tbody>
        {% for price in pricing_data %}
        <tr class="border">
            <td class="p-2">{{ price.range }}</td>
            <td class="p-2">{{ price.rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
